<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/devgirl.png" alt="Jaz image" title="Jasleen" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Jasleen's Website</p>
                        <h1>I am a <span class="txt_clr">Full Stack Web Developer</span>, and I love creating new projects</h1>
                        <a href="https://github.com/WebDev-cmd" target="jasleen"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            &#169 Jaz Weather App 
        </p>
    </footer>
</body>

</html>